<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:cnntext="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 指定应用名称 -->
    <dubbo:application name="evil_job" />
    <!--指定服务注册中心地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!-- 任务类要注册 使用dubbo 扫包  -->
    <dubbo:annotation package="com.bewind.evil.job"/>

    <dubbo:consumer check="false" timeout="60000"/>

    <!--开启定时服务注解支持-->
    <task:annotation-driven/>
    <!---->
    <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler"/>

</beans>