<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>小孙检修</title>
        <meta name="description" content="小孙检修">
        <meta name="keywords" content="小孙检修">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>故障报修管理<small>故障报修管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>故障报修</el-breadcrumb-item>
                    <el-breadcrumb-item>故障报修管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <template>
                            <el-select v-model="pagination.queryString" placeholder="处理结果" >
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>

                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="name" label="报修人" align="center"></el-table-column>
                        <el-table-column prop="createTime" label="报修时间" align="center"></el-table-column>
                        <el-table-column prop="theme" label="主题" align="center"></el-table-column>
                        <el-table-column prop="address" label="办公地点" align="center"></el-table-column>
                        <el-table-column prop="trouble" label="故障描述" align="center"></el-table-column>
                        <el-table-column prop="phone" label="联系电话" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">审批</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <!-- :visible.sync 新增时的弹窗-->
                        <el-dialog title="故障报修" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="报修人" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="主题" prop="theme">
                                            <el-input v-model="formData.theme"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="地点" prop="address">
                                            <el-input v-model="formData.address"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="故障现象" prop="trouble">
                                            <el-input v-model="formData.trouble"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="联系电话" prop="phone">
                                            <!--<el-select v-model="formData.type">-->
                                                <!--<el-option label="检查" value="1"></el-option>-->
                                                <!--<el-option label="检验" value="2"></el-option>-->
                                            <!--</el-select>-->
                                            <el-input v-model="formData.phone"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑维修项" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="报修人" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="主题" prop="theme">
                                            <el-input v-model="formData.theme"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="地点" prop="address">
                                            <el-input v-model="formData.address"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="故障现象" prop="trouble">
                                            <el-input v-model="formData.trouble"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="联系电话" prop="phone">
                                            <el-input v-model="formData.phone"/>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="12">
                                        <el-form-item label="备注" prop="remark">
                                            <el-input v-model="formData.remark"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="解决方案" prop="way">
                                            <el-input v-model="formData.way"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
    </script>
    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                pagination: {//分页相关模型数据
					  currentPage: 1,//当前页码
					  pageSize:10,//每页显示的记录数
					  total:0,//总记录数
					  queryString:null//查询条件
				},
				dataList: [],//当前页要展示的分页列表数据
                formData: {},//表单数据
                dialogFormVisible: false,//增加表单是否可见
                dialogFormVisible4Edit:false,//编辑表单是否可见
                options: [{
                    value: '1',
                    label: '已处理'
                }, {
                    value: '0',
                    label: '未处理'
                }],
                value: '',
                rules: {//校验规则
                    name: [{ required: true, message: '需要有报修人', trigger: 'blur' }]
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                //调用分页查询数据
                this.findPage();
            },
            methods: {
                //编辑
                handleEdit() {
                    //发送请求到后台执行修改操作
                    this.$refs['dataEditForm'].validate((valid) => {
                        if (valid) {
                            // 所有检验通过, 提交数据给后台this.formData
                            axios.post('/malfunction/update.do', this.formData).then(response=>{
                                this.$message({
                                    message: response.data.message,
                                    type: response.data.flag?"success":"error"
                                });
                                if(response.data.flag){
                                    // 成功后的处理
                                    // 关闭窗口。
                                    this.dialogFormVisible4Edit = false;
                                    // 刷新列表数据
                                    this.findPage();
                                }
                            })
                        }
                    });
                },
                //添加
                handleAdd () {
                    this.$refs['dataAddForm'].validate((valid) => {
                        if (valid) {
                            //校验通过,发送post请求到后台执行添加命令
                            axios.post('/malfunction/add.do', this.formData).then(response=>{
                                this.$message({
                                    message: response.data.message,
                                    type: "success"
                                });
                                //判断返回的结果
                                if (response.data.flag){
                                        // 成功之后要关闭窗口
                                        this.dialogFormVisible = false;
                                        // 刷新列表
                                        this.findPage();
                                }
                                else
                                {
                                    this.$message.error(response.data.message);
                                }
                            });
                        }
                    });
                },
                //分页查询
                findPage() {
                    axios.post('/malfunction/findPage.do', this.pagination).then(response=>{
                        //判断响应的结果
                        if (response.data.flag){
                            //分页的结果
                            this.dataList = response.data.data.rows;
                            //总记录数
                            this.pagination.total = response.data.data.total;
                        } else {
                            this.$message.error(response.data.message);
                        }
                    });
                },
                // 重置表单
                resetForm() {
                    //清空表单数据-回到初始值
                    this.formData = {};
                },
                // 弹出添加窗口
                handleCreate() {
                    //点击新建弹出新建表单
                    this.dialogFormVisible = true;
                    //重置表单数据
                    this.resetForm();
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    // alert(row.id);
                    //首先先重置表单-调用重置表单的方法
                    this.resetForm();
                    //弹出编辑窗口-将dialogFormVisible4Edit的属性改成true
                    this.dialogFormVisible4Edit = true;
                    //发送请求到后台,回显该编辑内容的信息
                    axios.get('/malfunction/findById.do?id='+row.id).then(response=>{
                        if(response.data.flag){
                            // 绑定数据回显, 编辑的form表单也绑定了这个formData
                            this.formData = response.data.data;
                        }else{
                            this.$message.error(response.data.message);
                        }
                    });
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    //设置分页查询时的页码
                    this.pagination.currentPage = currentPage;
                    //调用分页查询
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                    // alert(row.id);
                    this.$confirm('此操作将永久删除该维修信息, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        //发送请求到后台执行删除命令
                        axios.post('/malfunction/deleteById.do?id=' + row.id).then(response=>{
                            this.$message({
                                message: response.data.message,
                                type: response.data.flag?"success":"error"
                            })
                            if(response.data.flag){
                                // 成功
                                // 刷新列表数据
                                this.findPage();
                            }
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                }
            }
        })
    </script>
</html>