<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--指定哪些资源不需要进行权限校验-->
    <security:http security="none" pattern="/js/**"/>
    <security:http security="none" pattern="/css/**"/>
    <security:http security="none" pattern="/login.html"/>

    <!--自动配置登录页面-自动生成login页面-->
    <!--配置拦截规则-->
    <security:http auto-config="true" use-expressions="false">
        <!--配置拦截路径,拦截全部-->
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"/>

        <!--登陆配置 form-login
                login-page:登录页面
                username-parameter:从前端用户名传的参数名
                password-parameter:从前端密码传的参数名
                login-processing-url:处理登陆请求的url,必须与form表单中的action一致
                default-target-url:登陆成功后默认跳转的页面
                always-use-default-target:true不管是从哪个页面转到login.html，登陆后都跑到default-target-url
                                            success.html -> login.html-> index.html
                authentication-failure-url: 登陆失败后跳转的页面
        -->
        <security:form-login
            login-page="/login.html"
            username-parameter="abc"
            password-parameter="bbb"
            login-processing-url="/login"
            default-target-url="/index.html"
            always-use-default-target="false"
            authentication-failure-url="/login.html"/>

        <!--关闭跨域攻击限制-->
        <security:csrf disabled="true"/>
    </security:http>

    <!--认证管理器(认证经理)-->
    <security:authentication-manager>
        <!--认证消息提供者-->
        <security:authentication-provider>
            <!--登陆用户信息由我们自己来提供-->
            <security:user-service>
                <security:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>


</beans>